# Python specific
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
backend/build/
backend/dist/
backend/downloads/
backend/data/

# Specific ignores to avoid blocking frontend
# lib/ <-- Commented out as it blocks Next.js src/lib

# Environments
.env
.venv
venv/

# Project specific
backend/test_downloads/
*.mp3
*.wav
*.zip
*.zip.*

# Next.js specific
frontend/.next/
frontend/node_modules/
